html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        
        main
            h3 BIENVENIDO A TU BUSCADOR DE PELICULAS
            p Indica que pelicula quieres ver.

            form(action="/" method="post")
                label title: 
                input(name='title' required)
                input(type="submit", value="Pelicula")
        

                  
        script(src="script.js")